@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --lilas: hsl(257, 40%, 49%);
    --rosa: hsl(300, 69%, 71%);
}
body{
    background: var(--lilas);
    background-image: url('imagens/bg-desktop.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    width: 95vw;
    max-height: 100vh;
}
header img{
    max-width: 13rem;
    margin: 3rem;
}
.content{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: 3rem;
}
.content img{
    max-width: 90vw;
}
.text h1{
    font-family: 'Poppins';
    color: white;
    font-weight: 600;
    margin: 3rem 0 0 4rem;
    max-width: 30rem;
    font-size: 2.5rem;
}
.text p{
    font-family: 'Open Sans';
    color: white;
    font-weight: 400;
    margin: 1rem 0 3rem 4rem;
    max-width: 43rem;
    font-size: 1.5rem;
}

button{
    width: 15rem;
    padding: 1rem;
    border-radius: 1.8rem;
    box-shadow: 0.1rem 0.4rem 0.2rem rgba(0, 0, 0, 0.445);
    margin: 0 4rem;
    font-family: 'Open Sans';
    font-size: 1.6rem;
    align-items: center;
}
button:hover{
    background-color: var(--rosa);
}
button:hover a{
    color:white;
}
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer img{
    width: 2rem;
}
.circle{
    margin: 10rem 4rem 0 -2rem ;
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: 0.7rem;
}
.circle img{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:800px){
    body{
        background: var(--lilas);
        background-image: url('imagens/bg-mobile.svg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    header img{
        max-width: 11rem;
        margin: 2rem;
    }
    main{
        width: 90vw;
        max-height: 95vh;
    }
    main .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content img{
        max-width: 89vw;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text h1{
        font-family: 'Poppins';
        color: white;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
        margin: 12px auto 12px auto;
        max-width: 350px;
    }
    .text p{
        font-family: 'Open Sans';
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 1.1rem;
        margin: 12px auto 12px auto;
    }
    button{
        text-align: center;
        width: 13rem;
        padding: 1rem;
        margin: 12px auto;
        border-radius: 1.8rem;
        box-shadow: 0.1rem 0.4rem 0.2rem rgba(0, 0, 0, 0.445);
        font-family: 'Open Sans';
        font-size: 0.9rem;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer img{
        width: 1.7rem;
    }
    .circle{
        margin: 4rem 1rem;
        border: 0.2rem solid rgb(255, 255, 255);
        border-radius: 50%;
        padding: 0.7rem;
    }
    .circle img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
